body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  width: 400px;
  height: 575px;
  margin-right: auto;
  margin-left: auto;
  background: #212121;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#search {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #212121;
  color: #ecf0f1;
  border-radius: 0;
  margin: 6px;
}

#search:focus {
  outline-width: 0;
}

.copy {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 115px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  text-align: center;
}

.copy .text {
  color: white;
  font-size: 80px;
}

.copy.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.3s linear;
}

.results {
  margin-left: 3px;
  margin-right: 3px;
  background: #212121;
}

img {
  height: 110px;
  width: calc((100% - 6px) / 3);
}

img:hover {
  cursor: pointer;
  opacity: .5;
}
